* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

canvas {
    display: block;
    margin: 40px auto 20px;
    border: 1px solid #333;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.8);
}

p,
a {
    font-size: 20px;
    color: #777;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
}

.info {
    margin: 14px auto;
    text-align: center;
    font-size: 18px;
    color: #999;
}

a {
    color: #3377ee;
}

h1, h2 {
    color: white;
    padding: 7px;
    font-family: 'Indie Flower', cursive;
}


 